.footer {
text-align: center;
position: relative;
background-color: rgb(86, 83, 83);
padding: 60px;
}
.militech-icon {
  width: 40px;
  height: 40px;
  position:absolute;
  top:50px;
  right: 780px;
}

.links {
  display: inline-block;
  ite
}
